.header {
  background-color: #0099ff;
  height: 5vh;
  min-height: 38px;
  color: white;
  line-height: 5vh;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.content > * {
  flex: 1;
}

.footer {
  font-size: 0; /* remove white line on the bottom of the page */
}
