.card {
  padding: 20px;
  min-width: 300px;
  margin-top: 5px;
  transition: box-shadow 0.3s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  cursor: pointer;
}

.delete-button:hover {
  color: red;
}
