.card {
  padding: 20px;
  min-width: 300px;
  margin-top: 5px;
}

.element {
  display: flex;
  justify-content: space-between
}

.delete-button {
  cursor: pointer;
}

.delete-button:hover {
  color: red;
}
