/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.card {
  background-color: white;
  border-radius: 10px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border: 1px solid #ccc;
}

.transparent {
  background-color: transparent;
  border: none !important;
}
